name: CI
on: [ push, pull_request ]
jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18, 20, 22]

    steps:
    - name: Checkout
      uses: actions/checkout@v6
    - name: Use Node.js ${{matrix.node-version}}
      uses: actions/setup-node@v6
      with:
        node-version: ${{matrix.node-version}}
        cache: 'npm'
    - name: Install dependencies
      run: npm ci
    - name: Build
      run: npm run all
    - name: Upload Coverage
      if: matrix.node-version == 20
      uses: codecov/codecov-action@v5
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
